<div class="autoscroll" style="max-height: 250px">
    <table id="last_seen_issues_table" class="list issues">
        <thead>
            <tr>
                <% @columns.each do |column| %>
                    <th>
                        <%= column.caption %>
                    </th>   
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @issues.each do |issue| %>
                <tr id="issue-<%= issue.id %>">
                    <% @columns.each do |column| %>
                        <td>
                            <%= column_content(column, issue) %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= javascript_tag do %>
    var last_seen_issues_key = "last_seen_issues";
    var last_seen_issues_queue = [];
    
    if (localStorage.getItem(last_seen_issues_key)) {
        last_seen_issues_queue = JSON.parse(localStorage.getItem(last_seen_issues_key));

        // remove ids for deleted/extra issues
        var remove_ids = <%= @remove_ids.to_json.html_safe %>
        if (remove_ids && remove_ids.length > 0) {
            var last_seen_issues_key = "last_seen_issues";
            for (var id of remove_ids) {
                var index = last_seen_issues_queue.indexOf(id);
                if (index !== -1) {
                    last_seen_issues_queue.splice(index, 1);
                }
            }
        }

        localStorage.setItem(last_seen_issues_key, JSON.stringify(last_seen_issues_queue));
    }
<% end %>
