<p>
    <label for="settings_number_for_last_displayed_issues"><%= l(:number_of_issues_displayed) %> </label>
    <%= text_field_tag "settings[number_of_issues_displayed]", @settings['number_of_issues_displayed'], :size => 20 %>
    <em class="info"><%= t(:number_of_issues_displayed_explanation) %></em>

    <label for="settings_default_custom_query"><%= l(:default_custom_query) %> </label>
    <%= select_tag 'settings[default_custom_query]', options_for_select(IssueQuery.where(project: nil).order('name').map{|query| [query.name, query.id]}, @settings["default_custom_query"]), :include_blank => true %>
    <em class="info"><%= t(:default_custom_query_explanation) %></em>
</p>