<% if @issues.empty? %>
    <h1 style="text-align: center"><%= t(:history_missing_message) %><h1>
<% else  %>
    <div class="autoscroll" style="max-height: 250px">
        <table id="last_seen_issues_table" class="list issues">
            <thead>
                <tr>
                    <% @query.inline_columns.each do |column| %>
                        <th>
                            <%= column.caption %>
                        </th>   
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @issues.each do |issue| %>
                    <tr id="issue-<%= issue.id %>">
                        <% @query.inline_columns.each do |column| %>
                            <td>
                                <%= column_content(column, issue) %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<%= javascript_tag do %>
    removeDeletedOrExtraIds(<%= @remove_ids.to_json.html_safe %>)
<% end %>
